/* 
Tamarillo Template
http://www.templatemo.com/tm-399-tamarillo
*/

/* general */
body {
    font-family: 'Century Gothic', sans-serif;
    font-size: 14px;
    color: #000;
}
a:active {
    outline: 0;
}
.clear {
    clear: both;
}
h1,h2, h3, h4, h5, h6 {
    font-family: 'Century Gothic', sans-serif;
    line-height: 1.1em;
    margin-bottom: 20px;
}
h1 {
    text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin_top { margin-top: 20px; }

/* header */
header {
    border-top: 12px solid #9e2630;
    width: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    height: 115px;
}
header #templatemo_logo {
    padding-top: 35px;
    float: left;
}
header #templatemo_logo img {
    width: 100%;
}
header ul {
    float: left;
    min-height: 60px;
    margin-top: 30px;
}
header ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    height: 45px;
}
header ul li a {
    font: normal normal normal 18px/20px 'Century Gothic', sans-serif;
    text-align: center;
    float: left;
    color: #9e2630;
    height: 43px;
}
header ul li:hover a, header ul li:active a, header ul li:focus a, header ul li a.current{
    color: #9e2630;
    border-bottom: 2px solid #9e2630;
    text-decoration: none;
}
header .nav li a:hover, header .nav li a:focus {
    background-color: #fff;
    color: #9e2630;
}
@media (min-width: 768px) and (max-width: 992px) {
    header ul li {
        margin: 10px 0 0 0;
        padding: 0;
    }
    header ul li a {
        margin: 0;
        padding: 0 12px 0 12px !important;
    }
    #templatemo_slideshow #main-slider .flex-caption p {
        font-size: 10px !important;
        line-height: 18px;
    }
    #templatemo_about p {
        font: normal normal normal 14px/22px 'Century Gothic', sans-serif;
        text-align: justify;
    }
    #templatemo_services p {
        font-size: 14px;
        line-height: 18px;
        padding: 3px 0;
    }
    #templatemo_blog h2 {
        font: normal normal normal  18px/30px 'Century Gothic', sans-serif;
        margin: 3px 0 10px 0;
    }
    #templatemo_blog p {
        font: normal normal normal 14px/20px 'Century Gothic', sans-serif;
    }
    #templatemo_blog p a span {
        font-size: 8px;
    }
}
@media (max-width: 768px) {
    header ul li a {
        margin: 0;
        padding: 22px 0 0 0;
    }
    header #mobile_menu {
        font-size: 35px;
        margin-top: -30px;
        float: right;
        color: #9e2630;
    }
    header #mobile_menu_list ul {
        list-style: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    header #mobile_menu_list li {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50px;
        background: #9e2630;
        text-align: center;
        border-bottom: 1px solid #ae2b36;
    }
    header #mobile_menu_list li:hover {
        background: #aa313b;
        border-bottom: 1px solid #ae2b36;
    }
    header #mobile_menu_list li a {
        width: 100%;
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: 50px;
        border-bottom: none;
        text-decoration: none;
    }
    #templatemo_slideshow #main-slider .flex-button a {
        width: 90%;
        bottom: auto;
        margin-top: -120px;
    }
    #templatemo_services p {
        line-height: 20px;
        padding: 10px 0;
        text-align: center;
    }
    #templatemo_services h2 {
        font-size: 20px;
        line-height: 30px;
        padding: 20px 0 10px 0;
        text-align: center;
    }
    #templatemo_about img {
        max-width: 100%;
        margin: 20px auto 20px auto;
    }
    #templatemo_services img {
        max-width: 100%;
        margin: 0 auto 0 auto;
    }
    #templatemo_blog h2 {
        font: normal normal normal  25px/30px 'Century Gothic', sans-serif;
        margin: 15px 0 15px 0;
    }
    #templatemo_blog p a span {
        font-size: 10px;
    }
    .thumbs li.item-thumbs .overlay {
        opacity: 1;
        bottom: 0;
        width: 100%;
        margin-top: 60%;
        height: 40%;
        transform: scale(1,1);
        -webkit-transform: scale(1,1);
    }
    .thumbs li.item-thumbs:hover .overlay {
        opacity: 1;
    }
    .thumbs li.item-thumbs .overlay span {
        font-size: 20px;
    }
}
